/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/*Main content styling */
/*********************************************************/

/*Fonts
*************************************************************/
@font-face {
    font-family: space;
    src: url(../coalition/Coalition_v2..ttf);
}
@font-face {
    font-family: space2;
    src: url(../orion_pax/Orion_Pax_Bold.otf);
}
body {
	background: url('../images/space.jpg') no-repeat left center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: white;
}
header {
	padding-left: 20px;
	font-family: space;
}
header h1 {
	font-size: 80px;
}

header h2 {
	font-family: space2;
	margin: 0;
}
.container {
	margin-left: 30px;
	margin-right: 100px;
	margin-top: 20px;
	width: 40%;
	float: left;
	box-shadow: 1px 3px 16px 7px #ccc;
	padding: 30px;
	font-family: menlo;
	font-weight: 100;
	letter-spacing: 1px;
	
}

input.form-control {
	width: 150px;

}

input#age {
	color: black!important;
}

form {
	width: 50%;
}

.btn {
	
	margin-left: 150px;
}

/*********************************************
container 2 style
***********************************************/

 h2 {
	
	font-family: space2;
	
}

.result-header {
	display: none;
}
.keydown {
	display: none;
}

.app-complete {
	display: none;
}

.placement{
	display: none;
	

}
.earth, .gliese, .kepler {
	display: none;
}